<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Firepool</title>
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    </head>
    <body>
        <div id="firepool" class="firepool firepool-down">
            <div  class="firepool_header" @click="changeClass">
               <div class="firepool_header-logo">
                   <p class="firepool_header-text"><span class="colortext">F</span>ire<span class="colortext2">P</span>ool
                   </p>
               </div>
                <img src="svg/razvernut.svg" class="firepool_header-krest" id="firepool-icon">
            </div>

            <div class='firepool_body'>

                <form id="formResponses" v-on:submit.prevent="onSubmit">
                    <question v-if="info"  :text="info.question"></question>

                    <div class="answers">
                        <response v-for="response in info.responses" v-if="response.isComment==false" :value="response.responseText" :id="response.id" :type="typeRadio" :key="response.id"></response>
                        <response-comment v-for="response in info.responses" v-if="response.isComment==true" :value="response.responseText" :id="response.id" :type="typeRadio" :key="response.id"></response-comment>
                    </div>

                    <div class="btn-wrapper" @click="btnDown">
                        <button type="submit" class="btn-submit" disabled="disabled" id="submit">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
        <script src="main/js.js"></script>
    </body>
</html>